<tr>
    <td><a href="#{{ client.name }}" alt="{{ client.name }}">{{ client.name }}</a></td>
    <td>
        {% if client.tracking_issue %}<a href="{{ client.tracking_issue }}">{% endif %}
            {% if client.status == 100 %}🎉
            {% elsif client.declined %}😭
            {% elsif client.tracking_issue %}✪
            {% else %}❓{% endif %}
        {% if client.tracking_issue %}</a>{% endif %}
    </td>
    <td>
        {% if client.bountysource %}
        <a href="https://www.bountysource.com/issues/{{ client.bountysource }}">
            <img class="nobordernonation" src="https://api.bountysource.com/badge/issue?issue_id={{ client.bountysource }}" />
        </a>
        {% else %}<img class="nobordernonation" src="https://img.shields.io/badge/bountysource-none%20yet-orange.svg" />{% endif %}
    </td>

    <td data-sort="{{ client.status | plus: 0 }}" class="progress">
        <progress max="100" value="{{ client.status | plus: 0 }}"></progress>
    </td>
</tr>
