<h3 id="{{ client.name }}">{{ client.name }}</h3>
<dl class="client_detail">
    <dt>🌐 Website</dt>
    <dd>
        <a href="{{ client.url }}" alt="{{ client.name }} website">{{ client.url }}</a>
    </dd>

    {% if client.status == 100 %}
    <dt>Progress</dt>
    <dd>
        Hooray! OMEMO is supported!
    </dd>
    {% endif %}
    {% if client.declined %}
    <dt>Progress</dt>
    <dd>
        Sadly, they have decided not to support OMEMO.
    </dd>
    {% endif %}

    {% if client.tracking_issue %}
    <dt>Tracking Issue</dt>
    <dd>
        <a href="{{ client.tracking_issue }}">{{client.tracking_issue}}</a>
    </dd>
    {% endif %}

    {% if client.os_support %}
    <dt>OS Support</dt>
    <dd>
        {{ client.os_support | array_to_sentence_string }}
    </dd>
    {% endif %}
</dl>
