---
---

@import "{{ site.theme }}";
#omemo_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    margin-top: -6em; // MAGIC!
}

.page-header {
    font-family: monospace;
    padding: 1em;
    color: #282828;
    text-shadow: 0px 0px 8px #f8f8f8;
    background-image: linear-gradient(120deg, #86c1b9, #7cafc2);
    a.btn {
        display: none;
    }
}

.nobordernonation {
    box-shadow: none;
    border: none;
}

table {
    th[role=columnheader]:not(.no-sort) {
	cursor: pointer;
    }

    th[role=columnheader]:not(.no-sort):after {
	content: '';
	float: right;
	margin-top: 7px;
	border-width: 0 4px 4px;
	border-style: solid;
	border-color: #404040 transparent;
	visibility: hidden;
	opacity: 0;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
    }

    th[aria-sort=ascending]:not(.no-sort):after {
	border-bottom: none;
	border-width: 4px 4px 0;
    }

    th[aria-sort]:not(.no-sort):after {
	visibility: visible;
	opacity: 0.4;
    }

    th[role=columnheader]:not(.no-sort):hover:after {
	visibility: visible;
	opacity: 1;
    }
    
    td {
        vertical-align: middle;
        &.state {
            font-weight: bold;
            color: white;
            text-align: center;
            &.TRUE {
                background-color: #a1b56c;
            }
            &.FALSE {
                background-color: #ab4642;
            }
        }

        &.progress {
            width: 250px;
        
            progress[value] {
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
                border: none;
                width: 100%;
                height: 20px;
                
            }
            
            progress[value]::-webkit-progress-bar {
                background-color: #ffffff;
            }

            progress[value]::-webkit-progress-value {
                background-image:
	        -webkit-linear-gradient(top,
	                                rgba(255, 255, 255, .25),
	                                rgba(0, 0, 0, .25)),
  	        -webkit-linear-gradient(left, #F37C22, #209859);
                
                box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
                border-radius: 5px;
                background-size: 35px 25px, 100% 100%, 100% 100%;
            }
        }
    }
}

