---
---

@import "{{ site.theme }}";
#omemo_logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 50%;
    box-shadow: none;
    border: none;
}
